// $color-bg
$color-bg: #252220;
$color-white: #f7f7f7;

$color-primary: #9d2933;
$color-secondary: #8b242c;

$color-grey-dark: #272626;
$color-grey-dark-2: #999;
$color-grey-dark-3: #3b3b3b;
$color-grey-dark-4: #333;

$color-black: #000;
$color-black-light: #141414d5;

// grid
$gutter-horizontal: 6rem;
$gutter-horizontal: 5rem;
