.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.discount {
  position: absolute;
  top: 1rem;
  right: 10%;

  &__message {
    font-size: 2rem;
    color: #fff;
    background-color: $color-black;
    padding: 0.5rem 1rem;

    &--format {
      color: rgb(36, 202, 36);
      font-weight: 500;
    }

    animation: pop 2s infinite 2s;
  }
}
